* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contacto-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto 1fr;
  grid-template-areas: "index-header index-header index-header index-header index-header index-header index-header" "index-section1 index-section1 index-section1 index-section1 index-section1 index-section1 index-section1" "index-section2 index-section2 index-section2 index-section2 index-section2 index-section2 index-section2" "index-footer index-footer index-footer index-footer index-footer index-footer index-footer" "index-footer index-footer index-footer index-footer index-footer index-footer index-footer"; }

.index-header {
  grid-area: index-header; }
  .index-header nav .estilo-nav {
    font-size: 1.5rem; }

.index-section1 {
  grid-area: index-section1; }
  .index-section1 h1 {
    text-align: center; }
  .index-section1 p {
    text-align: center;
    font-size: 2rem; }
  .index-section1 div {
    display: flex;
    justify-content: center;
    align-items: center; }
    .index-section1 div a {
      padding: .5rem;
      text-decoration: none;
      color: black; }
      .index-section1 div a:hover {
        background-color: lightgrey;
        border-radius: 5px; }
    .index-section1 div .icon-wpp {
      color: green;
      font-size: 1.8rem; }
    .index-section1 div .icon-phone {
      font-size: 1.8rem; }

.index-section2 {
  grid-area: index-section2;
  margin-top: 2rem;
  border: 1px black solid;
  border-radius: 5px;
  padding: 1rem; }

.index-footer {
  grid-area: index-footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  margin-top: 2rem; }
  .index-footer p {
    margin-top: 2rem;
    font-size: 1.2rem; }
  .index-footer div i {
    margin-left: 1rem; }
  .index-footer .footer-redes {
    font-size: 1.5rem; }

.section1-h1-p {
  display: flex;
  flex-direction: column;
  justify-content: center; }
